@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    font-family: "SEGA LOGO FONT";
    font-weight: 200;
    font-size: 10vw;
    color: #0ccac4;
}
@media screen and (min-width: 470px) {
    h1 {
        font-size: 3rem;
    }
}
